<div class="col-12 col-lg-6 align-items-center justify-content-center" style="margin-top:3%">
    <div class=" bg-light border border-secondary rounded shadow p-3 mb-5">
        <h2 class="text-center">Centro de Mensajes</h2>
        <hr>
        <div id="mensajes"> </div>
    </div>
</div>