<div class=" row align-items-center justify-content-center" style="margin-top:3%">
    <div class="col-sm-4 bg-light border border-secondary rounded shadow p-3 mb-5"> 
        <h2 class="text-center">Iniciar sesión</h2>
        <form id="formChat" action="/login" method="POST">
            <br>
            <input type="email" class="form-control" name="username" placeholder="Email" required>
            <br>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <br>
            <input type='submit' class="btn btn-outline-success" value="Iniciar sesion"> </input>
        </form>
        <hr>
        <a href="/register" class="btn btn-outline-primary">Ir a registro</a>
    </div>
</div>