<div class="col-12 col-lg-3 align-items-center justify-content-center" style="margin-top:3%">
    <div class=" bg-light border border-secondary rounded shadow p-3 mb-5" id="divResMess" style="display: none;"> 
        <h2 class="text-center">Responder Mensaje</h2>
        <hr>
        <span id="hUser"></span>
        <form id="resMess">
            <br>
            <input type="hidden" id="idMensaje">
            <input type="text" class="form-control" id="textMessRes" placeholder="Ingrese mensaje" required>
            <br>
            <div align="center">
                <input type='submit' id="btnResponder" class="btn btn-outline-success" value="enviar"> </input>
                <button onclick="cancelResMess()" class="btn btn-outline-danger" style="margin-left: 100px;">Cancelar</button>
            </div>
        </form>
    </div>
</div>